@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00AFEF;
$colorGreen: #0f6567;


$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin family {
    font-family: 'Source Sans Pro', "Arial Narrow", Arial, Helvetica, sans-serif;

}


@mixin Inter {
    font-family: 'Inter Variable', sans-serif;
}

@mixin Roboto {
    font-family: 'Roboto Flex Variable', sans-serif;
}
.ui-widget {
    font-family: 'Roboto Flex Variable', sans-serif !important;
    font-size: 1em;
}

.ui-widget-header {
    background: $colorRed !important;
    border: 0 !important
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 45%;
    font-weight: 100 !important;
    font-size: 14px !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid $colorRed;
    background: $colorRed;
    font-weight: normal;
    color: #fff;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
    font-weight: 300 !important;
    color: #000;
}

.ui-datepicker-week-end {
    span {
        color: $colorRed;
    }
}

.ui-widget.ui-widget-content {
    border: 1px solid #dddddd !important;
}
.ui-datepicker-prev-hover ,
.ui-datepicker-next-hover {
    background:  $colorRed !important;
}

.ui-datepicker {
    z-index: 100 !important;
}
