@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00AFEF;
$colorGreen: #0f6567;


$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin family {
    font-family: 'Source Sans Pro', "Arial Narrow", Arial, Helvetica, sans-serif;

}


@mixin Inter {
    font-family: 'Inter Variable', sans-serif;
}

@mixin Roboto {
    font-family: 'Roboto Flex Variable', sans-serif;
}


.F_form {
padding: 0 !important;
    border-radius: 12px !important;
    min-width: 600px;
    .F_form__body {
        padding: 24px;
    }
}

.F_form__left {
    padding: 0 0 24px 0;

}


.new__temp_middle {

}


.F_form_gr-app {
    max-width: 422px;
    min-width: 422px;
    .F_form__body {
        padding: 0 !important;
    }
}

/*  */
.F_responce {
    background: #ffffff;
    border-radius: 12px;
    display: none;

    .af-message {
        text-align: center;
        padding: 24px;
    }

    .font_24 {

        font-size: 24px;
        padding: 0 0 20px 0;

    }

    .ccent {
        padding: 20px;
    }
}

._r_field {
    span {
            color: $colorRed;
            padding: 9px 0;
            display: block;

    }
}

